mixin seriesPerson(person)
  .series-person.series-item
    .row
      .col-xs-4.col-lg-3
        if person.photo
          .series-person-photo-wrapper
            img.series-person-photo(src=contentfulImage(person.photo))
      .col-xs-8.col-lg-9
        a(href=person.path)
          h3.series-person-title!= person.title
        if person.jobTitle
          p.series-person-job-title!= person.jobTitle
        if person.homeBase
          p.series-person-home-base!= person.homeBase
        if person.contents
          != person.contents
