mixin seriesPerson(person)
  .series-person.series-item(
    class=[(format ? `format-${format}` : '')]
  )
    .row
      .col-xs-4.col-lg-3
        if person.photo
          .series-person-photo-wrapper
            img.series-person-photo(src=contentfulImage(person.photo))
      .col-xs-8.col-lg-9
        a(href=person.path)
          if !format || format !== 'minimal'
            h3.series-person-title!= person.title
          else
            h4.series-person-title!= person.title
        if person.jobTitle
          p.series-person-job-title!= person.jobTitle
        if !format || format !== 'minimal'
          if person.homeBase
            p.series-person-home-base!= person.homeBase
          if person.contents
            != person.contents