extends ./layout
	
block content
	- var files = pagination ? pagination.files : files || [];

	#content
		.row
			main.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				if slug === 'posts'
					p.pull-right
						a(href='/blog.xml')
							i.fa.fa-rss
							|  RSS Feed
				section.section-divider
					each item, index in files
						article.collection-item
							h2.collection-item-title
								a(href=item.path)!= item.title
							if item.excerpt
								.collection-item-excerpt
									!=item.excerpt
							.collection-read-more
								a.btn.btn-default(href=item.path) Read more
									i.fa.fa-chevron-right



	if pagination && pagination.pages.length > 1
		section.section-divider
			//- Pagination
			nav.pagination-wrapper(aria-label='Page navigation')
				ul.pagination
					if pagination.previous
						li
							a(href=pagination.previous.path, aria-label='Previous')
								span(aria-hidden='true') «
					each page,index in pagination.getPages(10)
						li
							a(href=page.path)!= index+1
					if pagination.next
						li
							a(href=pagination.next.path, aria-label='Previous')
								span(aria-hidden='true') »
